/* GLOBAL */

html {
  width: 100%;
}

/* CONTAINERS */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: unset;
  padding: unset;
}

/**LOGINVIEW, SUBSCRIBEVIEW, POSTVIEW**/
#loginFrame .form-group, #subscribeFrame .form-group, #commentForm form{
  width: 50%;
}

/* LOGINVIEW, SUBSCRIBEVIEW */
#success, #error {
  padding: 0;
}

/* TEMPLATES */
/* Footer */
footer h5 {
  font-size:16px;
  margin-bottom: 0;
}

footer .navbar {
padding: 0;
}

footer .navbar-nav {
flex-direction: column;
text-align: center;
}

/* TEMPLATE FRONTEND */
.part-front {
  background : url('images/img-accueil-re.jpg');  
  background-size: cover;
}

/* Citation */
.lead {
  font-size: 12px;
}

.blockquote {
  font-size: 14px;
}

/* ADMINVIEW */
/* PART MEMBERMANAGER */
#memberManage table tr td .btn {
  padding-left: 3px;
  padding-right: 3px;
}

/* HOMEVIEW */
.listPosts .card {
  margin: auto;
}

.pagination {
  justify-content: flex-end;
}

/* ABOUTMEVIEW */
#about {
  text-align: justify;
  padding: 10px;
}

.mypicture {
  width: 20%;
  height: auto;
  margin-bottom: 20px;
}

.mypicture img {
  width: 100%;
}


/* ---------------------------------------- */
/* ==               MEDIAS                  */
/*                  QUERIES                 */
/*---------------------------------------- */

/* ---------------------------------------- */
/* ==              MEDIA 1                 */
/*---------------------------------------- */

@media screen and (min-width: 425px){
  header h6 {
    font-size: 20px;
  }

  /* .display-3 {
    font-size: 26px;
  } */
  
  .lead {
    font-size: 16px;
  }
}


/* ---------------------------------------- */
/* ==              MEDIA 2                 */
/*---------------------------------------- */
@media screen and (min-width: 575px){
  header h6 {
    font-size: 30px;
  }

  /* .display-3 {
    font-size: 40px;
  } */
  
  .lead {
    font-size: 20px;
  }
}

/* ---------------------------------------- */
/* ==              MEDIA 3                 */
/*---------------------------------------- */
@media screen and (min-width: 1024px){

  /* .display-3 {
    font-size: 45px;
  } */

  .listPosts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .listPosts .card {
    width: 45%;
    margin-top: 0;
  }

  footer .navbar-nav {
    flex-direction: row;
    justify-content: space-around;

  }

  .blockquote {
    font-size: 20px;
  }

}