/* GLOBAL */

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

/** VIEWS FRONTEND **/

/**LOGINVIEW, SUBSCRIBEVIEW, POSTVIEW**/
#loginFrame .form-group,
#commentForm form {
  width: 50%;
}

#loginFrame {
  height: 350px;
}

#subscribeFrame .form-group {
  width: 95%;
}

.g-recaptcha {
  width: 282px;
  display: flex;
  justify-content: center;
}

.g-recaptcha div {
  width: 300px;
}

.g-recaptcha iframe {
  width: 305px;
}

#success,
#error {
  padding: 0;
}

/* TEMPLATES */

.logoHeader {
  width: 10%;
  height: auto;
  display: flex;
}

.logoHeader img {
  width: 100%;
}

.navbar-brand {
  width: 65%;
  text-align: center;
}

.part-front {
  background: url('images/img-accueil-re.jpg');
  background-size: cover;
}

.lead {
  font-size: 12px;
}

.pagination {
  justify-content: flex-end;
}

/* Footer */
footer h5 {
  font-size: 16px;
  margin-bottom: 0;
}

footer .navbar {
  padding: 0;
}

footer .navbar-nav {
  flex-direction: column;
  text-align: center;
}

/* Blocquote */
.blockquote {
  font-size: 14px;
}

/* ABOUTMEVIEW */
#about {
  text-align: justify;
  padding: 10px;
}

.mypicture {
  width: 50%;
  height: auto;
  margin-bottom: 20px;
}

.mypicture img {
  width: 100%;
}


/** VIEWS BACKEND */

/* ADMINVIEW */
/* CREATE POST */

#adminPanel .jumbotron h1 p {
  font-size: 30px;
}

#createPost {
  width: 100%;
}

/* COMMENT MANAGE */
#commentManage .report .card .card-body .btnModal {
  display: flex;
  margin: auto;
}

/* MEMBERMANAGER */
#memberManage table {
  display: flex;
  justify-content: center;
}

/* ---------------------------------------- */
/* ==               MEDIAS                  */
/*                  QUERIES                 */
/*---------------------------------------- */

/* ---------------------------------------- */
/* ==              MEDIA 1                 */
/*---------------------------------------- */

@media screen and (min-width: 425px) {

  /* Subscribe */
  #subscribeFrame {
    height: 380px !important;
  }

  #subscribeFrame #form {
    margin: auto;
    text-align: center;
    padding-top: 30px;
  }

  .g-recaptcha {
    margin: auto;
  }

  /* Login */

  #loginFrame {
    height: 420px !important;
  }

  #loginFrame .form-group {
    padding-top: 50px;
  }
}

/* ---------------------------------------- */
/* ==              MEDIA 2                 */
/*---------------------------------------- */
@media screen and (min-width: 575px) {

  /* Home */
  header h6 {
    font-size: 30px;
  }

  .lead {
    font-size: 20px;
  }

  /* CreatePost */
  #createPost {
    width: 80%;
    margin: auto;
  }

  /* Subscribe - login */
  #subscribeFrame .form-group {
    width: 45%;
    margin: auto;
  }

  #loginFrame .form-group {
    width: 35%;
  }
}

/* ---------------------------------------- */
/* ==              MEDIA 4                 */
/*---------------------------------------- */
@media screen and (min-width: 768px) {

  /* ADMIN VIEW */
  #adminPanel .headPost {
    width: 80%;
    margin: auto;
  }

  /*CreatePost , UpdatePost */
  #createPost h1,
  #managerBlock {
    width: 80%;
    margin: auto;
  }

  #updateBlock #title {
    width: 80%;
  }

  #updateBlock form textarea {
    width: 100%;
  }

  /* LOGINVIEW, SUBSCRIBEVIEW, POSTVIEW */
  #loginFrame .form-group,
  #subscribeFrame .form-group,
  #commentForm form {
    width: 25%;
  }

  .g-recaptcha {
    width: unset;
    display: unset;
    justify-content: unset;
  }

  #loginFrame {
    height: 470px;
  }
}

/* ---------------------------------------- */
/* ==              MEDIA 5                 */
/*---------------------------------------- */
@media screen and (min-width: 992px) {

  .logo {
    width: 10%;
  }

  .navbar-brand {
    width: 40%;
    margin: auto;
    text-align: center;
  }
}

/* ---------------------------------------- */
/* ==              MEDIA 6                 */
/*---------------------------------------- */
@media screen and (min-width: 1024px) {

  /* Home */
  .listPosts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .listPosts .card {
    width: 45%;
    margin-top: 0;
  }

  /* footer */
  footer .navbar-nav {
    flex-direction: row;
    justify-content: space-around;

  }

  .blockquote {
    font-size: 20px;
  }

  /* ADMIN VIEW */
  /* Table */
  #memberManage td {
    width: 200px;
  }
}

/* ---------------------------------------- */
/* ==              MEDIA 7                 */
/*---------------------------------------- */
@media screen and (min-width: 1440px) {

  /* Home */
  #navbarColor01 ul li a {
    font-size: 22px;
  }

  #navbarColor01 ul li p {
    font-size: 22px;
  }

  /* Subscribe - Login */
  #subscribeFrame {
    margin: 60px;
    height: 450px !important;
  }

  #subscribeFrame #form label {
    font-size: 20px;
  }

  #loginFrame {
    height: 450px !important;
  }

  #loginFrame .form-group {
    margin-top: 100px;
  }

  #loginFrame .form-group form label {
    font-size: 20px;
  }

  #mail,
  .g-recaptcha {
    margin-bottom: 10px;
  }

  /* footer */
  .footer {
    padding-top: 34px;
  }
}